.App {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fffffc;
background-image: url("../assets/concrete-wall.png");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
