.body {
  display: flex;
  flex-direction: column;
  /* change to responsive*/
  margin-top: 40px;
  width: 40%;
  height: 100%;
}

.h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
