.form-container {
  width: 100%;
}

.form{
  display: flex;
  flex-direction: column;
}

.input-label{
 margin-bottom: 5px;
}

.text-field {
  padding: 12px;
  /* background-color: rgb(95, 164, 207); */
  width:97.5%;
  height: 100px;
  border-color: #44687b;
  border-width: 3px;
  border-radius: 18px;
  font-family: 'Noto Sans', sans-serif;
  font-size: medium;
}

.button-div {
  display: flex;
  justify-content: flex-end;
}

.button-submit {
  margin-top: 18px;
  font-family: 'Roboto',sans-serif;
  font-weight: 3;
  font-size: 15px;
  color: #FFFFFF;
  background-color: #44687b;
  text-align: center;
  /* transition: all 0.2s; */
  padding: 0.5em 1.8em;
  /* margin: 0 0.3em 0.3em 0; */
  border-radius: 2em;
  box-sizing: border-box;
  border-color:#44687b;
}
