.header {
  display: flex;
  flex-direction: column;
  /* change to responsive*/
  margin-top: 70px;
  width: 40%;
}

.h2 {
  align-self: flex-start;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
/* 
.form-container {
  height: 1000px;
} */
